---
import { supabase } from "../db/supabase";
import { BaseLayout } from "@/layouts/BaseLayout";

const { data, error } = await supabase.from("todos").select("*");
---

<BaseLayout>
    {
        (
            <ul>
                {data.map((entry) => (
                    <li>{entry.name}</li>
                ))}
            </ul>
        )
    }
</BaseLayout>
