---
interface Props {
    id: string;
    title: string;
    subtitle: string;
}

const { id, title, subtitle } = Astro.props;
---

<section class="py-10" id={id}>
    <div>
        <h2 class="text-2xl font-semibold md:text-4xl">{title}</h2>
        <p class="mt-2 text-zinc-600 dark:text-zinc-300">{subtitle}</p>
    </div>
    <slot />
</section>
